body{
    font-family: 'Raleway', sans-serif;
}

.navbar-nav > li{
    padding: 0 10px;
}

.navbar-nav > li > a{
    color: #fff;
}

.sticky{
    background-color: #1dA1F2;
    position: fixed;
    z-index: 999;
}

.slider{
    background: url('../img/slider.png');
    height: 625px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main-text{
    margin-top: 250px;
    margin-left: 100px;
}

.main-sub{
    letter-spacing: 2px;
}

#down-arrow{
    font-size: 38px;
    position: absolute;
    left: 50%;
    top: 140%;
}

.about-us{
    background-color: #fff;
    color: #333;
}

.about-us h5{
    font-size: 14px;
    text-transform: uppercase;
    word-spacing: 9px;
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    top: 64px;
    left: -63px;
    color: #1da1f2;
    font-weight: bold;
}

.about-us h2{
    font-size: 42px;
    margin-left: 30px;
    line-height: 45px;
}

.about-img{
    background: url('../img/about.jpg');
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.about-company{
    background-color: #f4f4f4;
}

.about-item{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 60px 30px;
    border-radius: 20px;
}

.about-item i{
    font-size: 42px;
}

.about-item h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 45px;
    height: 3px;
    background-color: #1dA1F2;
    border: none;
}

.about-item p{
    margin-top: 20px;
}

.about-item:hover{
    background-color: #1dA1F2;
    transition: 1000ms;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hover hr{
    background-color: #fff;
}

.service{
    background-color: #fff;
    padding: 100px 0;
}

.service h5{
    font-size: 14px;
    text-transform: uppercase;
    word-spacing: 9px;
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    top: 64px;
    left: -63px;
    color: #1da1f2;
    font-weight: bold;
}

.service h2{
    font-size: 36px;
    margin-left: 30px;
    line-height: 45px;
    margin-left: 5px;
}

.service p{
    line-height: 20px;
    margin-top: 30px;
}

.advertise{
    background: url('../img/about.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    opacity: 0.8;
}

.advertise h2{
    color: #000;
    line-height: 50px;
    padding-top: 70px;
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px 8px #f00;
    font-weight: bold;
}

.blog{
    background : linear-gradient(to right, #222 ,#1dA1F2);
    color: #fff;
    font-family: 'Merriweather', serif;
}

.blog h3{
    font-size: 30px;
}

.blog .card{
    background-color: #252525;   
}

.blog .card:hover{
    transform: translateY(-5px) scale(1);
    transition: linear .2s;
}

.footer{
    background-color: #000;
    color: #fff;
}

.footer a:hover{
    color: #fff;
}


.copyright{
    background-color: #1dA1F2;
}

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    color: #fff;
    background-color: #1dA1F2;
    border: none;
     width: 50px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.loader-container{
    width: 100%;
    height: 625px;
    background-color: #000;
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #1dA1F2;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader{
    25%{
        color: #f00;
    }
    50%{
        color: #0f0;
    }
    75%{
        color: #ff0;
    }
    to{
        transform: rotate(360deg);
    }
}

.about-page{
    background: url('../img/about.jpg');
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb{
    background-color: transparent;
    padding: 160px 110px;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.about-detail hr{
    width: 60px;
    height: 3px;
    background-color: #1dA1F2;
    border: none;
    margin-bottom: 40px;
}
.about-detail p{
    line-height: 28px;
}